In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style='whitegrid', font_scale=1.5)
sns.set_palette('Set2', n_colors=10)
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

import streamlit as st
from datetime import date

In [2]:
bss = pd.read_csv('국세청_사업자현황_100대 생활업종_20220228.csv',encoding='euc-kr')
gen = pd.read_csv('국세청_사업자현황_성별_20220228.csv', encoding='euc-kr')
age = pd.read_csv('국세청_사업자현황_연령별_20220228.csv', encoding='euc-kr')
yea = pd.read_csv('국세청_사업자현황_존속연수별_20220228.csv', encoding='euc-kr')

In [3]:
bss

            업종       시도   시군구    당월    전월  전년동월
0      LPG 충전소    서울특별시    중구    0     0      *
1      LPG 충전소    서울특별시   성동구     *     *     *
2      LPG 충전소    서울특별시   광진구     *     *     *
3      LPG 충전소    서울특별시  동대문구    4     4     4
4      LPG 충전소    서울특별시   중랑구    4     4     4
...        ...      ...   ...   ...   ...   ...
23859    휴대폰가게     경상남도   함양군   11    11    11
23860    휴대폰가게     경상남도   거창군   28    28    28
23861    휴대폰가게     경상남도   합천군    8     8     8
23862    휴대폰가게  제주특별자치도   제주시  201   201   201
23863    휴대폰가게  제주특별자치도  서귀포시   53    53    50

[23864 rows x 6 columns]

In [4]:
bss_seoul = bss[bss['시도'] == '서울특별시']

In [5]:
bss_seoul = bss_seoul.replace('*', np.nan)

In [6]:
bss_seoul.fillna(0, inplace = True)

In [7]:
bss_seoul['업종'].unique()

array(['LPG 충전소', 'PC방', '가구점', '가전제품수리점', '가전제품판매점', '간이주점', '간판광고물업',
       '감정평가사', '건강보조식품가게', '건어물가게', '건축사', '결혼상담소', '곡물가게', '공인노무사',
       '공인회계사', '과일가게', '교습소ㆍ공부방', '교습학원', '구내식당', '기술및직업훈련학원', '기술사',
       '기타 일반의원', '기타외국식전문점', '기타음식점', '꽃가게', '내과ㆍ소아과 의원', '노래방', '담배가게',
       '당구장', '독서실', '동물병원', '목욕탕', '문구점', '미용실', '법무사', '변리사', '변호사',
       '부동산중개업', '분식점', '사진촬영업', '산부인과 의원', '생선가게', '서점', '성형외과 의원',
       '세무사', '세탁소', '슈퍼마켓', '스포츠교육기관', '스포츠시설운영업', '스포츠용품점', '시계ㆍ귀금속점',
       '식료품가게', '신경정신과 의원', '신발가게', '실내스크린골프점', '실내장식가게', '실외골프연습장',
       '안경점', '안과 의원', '애완용품점', '약국', '여관ㆍ모텔', '여행사', '예술학원', '예식장',
       '옷가게', '의료용품가게', '이륜자동차판매점', '이발소', '이비인후과 의원', '일반외과 의원', '일식전문점',
       '자동차수리점', '자전거판매점', '장난감가게', '정육점', '제과점', '종합병원', '주유소', '주차장운영업',
       '중고차판매점', '중식전문점', '채소가게', '철물점', '치과병원ㆍ의원', '침구ㆍ커튼가게', '커피음료점',
       '컴퓨터판매점', '통신판매업', '패스트푸드점', '펜션ㆍ게스트하우스', '편의점', '피부관리업',
       '피부ㆍ비뇨기과 의원', '한방병원ㆍ한의원', '한식전문점', '헬스클럽', '호프전문점', '화장품가게',
       '휴대폰가게'], dtype=object)

In [8]:
# 100가지의 업종을 '자영업'과 자영업이 아닌것으로 구분하기
lst = list(bss_seoul['업종'].unique())
lst1 = pd.DataFrame(lst)
print(lst1)

          0
0   LPG 충전소
1       PC방
2       가구점
3   가전제품수리점
4   가전제품판매점
..      ...
95    한식전문점
96     헬스클럽
97    호프전문점
98    화장품가게
99    휴대폰가게

[100 rows x 1 columns]

In [9]:
# lst1.to_excel("업종.xlsx")

In [10]:
lst

['LPG 충전소',
 'PC방',
 '가구점',
 '가전제품수리점',
 '가전제품판매점',
 '간이주점',
 '간판광고물업',
 '감정평가사',
 '건강보조식품가게',
 '건어물가게',
 '건축사',
 '결혼상담소',
 '곡물가게',
 '공인노무사',
 '공인회계사',
 '과일가게',
 '교습소ㆍ공부방',
 '교습학원',
 '구내식당',
 '기술및직업훈련학원',
 '기술사',
 '기타 일반의원',
 '기타외국식전문점',
 '기타음식점',
 '꽃가게',
 '내과ㆍ소아과 의원',
 '노래방',
 '담배가게',
 '당구장',
 '독서실',
 '동물병원',
 '목욕탕',
 '문구점',
 '미용실',
 '법무사',
 '변리사',
 '변호사',
 '부동산중개업',
 '분식점',
 '사진촬영업',
 '산부인과 의원',
 '생선가게',
 '서점',
 '성형외과 의원',
 '세무사',
 '세탁소',
 '슈퍼마켓',
 '스포츠교육기관',
 '스포츠시설운영업',
 '스포츠용품점',
 '시계ㆍ귀금속점',
 '식료품가게',
 '신경정신과 의원',
 '신발가게',
 '실내스크린골프점',
 '실내장식가게',
 '실외골프연습장',
 '안경점',
 '안과 의원',
 '애완용품점',
 '약국',
 '여관ㆍ모텔',
 '여행사',
 '예술학원',
 '예식장',
 '옷가게',
 '의료용품가게',
 '이륜자동차판매점',
 '이발소',
 '이비인후과 의원',
 '일반외과 의원',
 '일식전문점',
 '자동차수리점',
 '자전거판매점',
 '장난감가게',
 '정육점',
 '제과점',
 '종합병원',
 '주유소',
 '주차장운영업',
 '중고차판매점',
 '중식전문점',
 '채소가게',
 '철물점',
 '치과병원ㆍ의원',
 '침구ㆍ커튼가게',
 '커피음료점',
 '컴퓨터판매점',
 '통신판매업',
 '패스트푸드점',
 '펜션ㆍ게스트하우스',
 '편의점',
 '피부관리업',
 '피부ㆍ비뇨기과 의원',
 '한방병원ㆍ한의원',
 '한식전문점',
 '헬스클럽',
 '호프전문점',
 '화장품가게',
 '휴대폰가게']

In [11]:
types = ['LPG 충전소',
 'PC방',
 '가구점',
 '가전제품수리점',
 '가전제품판매점',
 '간이주점',
 '간판광고물업',
 '건어물가게',
 '곡물가게',
 '과일가게',
 '교습소ㆍ공부방',
 '꽃가게',
 '노래방',
 '당구장',
 '독서실',
 '목욕탕',
 '문구점',
 '미용실',
 '부동산중개업',
 '분식점',
 '사진촬영업',
 '생선가게',
 '서점',
 '세탁소',
 '슈퍼마켓',
 '스포츠시설운영업',
 '스포츠용품점',
 '시계ㆍ귀금속점',
 '식료품가게',
 '신발가게',
 '실내스크린골프점',
 '실내장식가게',
 '실외골프연습장',
 '안경점',
 '애완용품점',
 '여관ㆍ모텔',
 '예식장',
 '옷가게',
 '이륜자동차판매점',
 '이발소',
 '자동차수리점',
 '자전거판매점',
 '장난감가게',
 '정육점',
 '제과점',
 '주유소',
 '주차장운영업',
 '중고차판매점',
 '채소가게',
 '철물점',
 '침구ㆍ커튼가게',
 '커피음료점',
 '컴퓨터판매점',
 '통신판매업',
 '패스트푸드점',
 '펜션ㆍ게스트하우스',
 '편의점',
 '헬스클럽',
 '호프전문점',
 '화장품가게',
 '휴대폰가게']
bss_filter = bss_seoul.loc[bss_seoul['업종'].isin(types)]
bss_filter

            업종     시도   시군구    당월    전월  전년동월
0      LPG 충전소  서울특별시    중구    0     0      0
1      LPG 충전소  서울특별시   성동구     0     0     0
2      LPG 충전소  서울특별시   광진구     0     0     0
3      LPG 충전소  서울특별시  동대문구    4     4     4
4      LPG 충전소  서울특별시   중랑구    4     4     4
...        ...    ...   ...   ...   ...   ...
23634    휴대폰가게  서울특별시   관악구  136   135   139
23635    휴대폰가게  서울특별시   서초구  124   123   118
23636    휴대폰가게  서울특별시   강남구  176   178   175
23637    휴대폰가게  서울특별시   송파구  169   166   179
23638    휴대폰가게  서울특별시   강동구  132   134   126

[1516 rows x 6 columns]

In [12]:
bss_seoul['당월'] = bss_seoul['당월'].astype(int)

In [13]:
bss_seoul_2 = bss_seoul.groupby('업종')[['당월']].sum()
bss_seoul2 = bss_seoul_2.sort_values(by='당월', ascending=False)
bss_seoul2.head(60)

               당월
업종
통신판매업      128659
한식전문점       55049
부동산중개업      35040
미용실         18639
실내장식가게      15785
커피음료점       15717
옷가게         15621
교습학원        10927
분식점         10772
피부관리업        9085
교습소ㆍ공부방      8925
기타외국식전문점     8651
편의점          8395
패스트푸드점       7681
화장품가게        6795
일식전문점        6110
예술학원         5682
세무사          5652
사진촬영업        5576
스포츠교육기관      5556
식료품가게        5507
약국           5373
호프전문점        5337
여행사          5238
노래방          5211
중식전문점        5064
자동차수리점       5006
치과병원ㆍ의원      4963
세탁소          4833
꽃가게          4579
변호사          4264
제과점          4261
기술및직업훈련학원    4105
기타음식점        4031
슈퍼마켓         3759
한방병원ㆍ한의원     3723
간이주점         3386
구내식당         3238
휴대폰가게        3168
건축사          3136
당구장          3055
가전제품수리점      3055
독서실          2887
정육점          2884
스포츠시설운영업     2667
내과ㆍ소아과 의원    2500
간판광고물업       2500
헬스클럽         2496
건강보조식품가게     2472
이발소          2196
담배가게         2044
법무사          2040
안경점          2010
시계ㆍ귀금속점      1940
주차장운영업       1902
서점           1747
채소가게         1704
스포츠용품점       1683
여관ㆍ모텔        1626
가전제품판매점      1580

In [14]:
gen

,업태별,시도,시군구,성별,(전체)당월,(전체)전월,(전체)전년동월,(개인)당월,(개인)전월,(개인)전년동월,(법인)당월,(법인)전월,(법인)전년동월
0,농·임·어업,서울특별시,종로구,남자,15,14,13,5,4,3,10,10,10
1,농·임·어업,서울특별시,종로구,여자,4,4,*,*,*,*,3,3,*
2,농·임·어업,서울특별시,중구,남자,13,13,11,*,*,*,12,12,10
3,농·임·어업,서울특별시,중구,여자,*,*,*,0,0,*,*,*,*
4,농·임·어업,서울특별시,용산구,남자,7,7,5,*,*,*,5,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8421,서비스업(기타포함),제주특별자치도,제주시,여자,7945,7878,7091,7293,7237,6565,652,641,526
8422,서비스업(기타포함),제주특별자치도,제주시,미상,19,19,17,13,13,11,6,6,6
8423,서비스업(기타포함),제주특별자치도,서귀포시,남자,3498,3476,3215,2804,2788,2611,694,688,604
8424,서비스업(기타포함),제주특별자치도,서귀포시,여자,2647,2605,2366,2478,2440,2222,169,165,144
8425,서비스업(기타포함),제주특별자치도,서귀포시,미상,6,6,6,3,3,3,3,3,3

In [15]:
gen_capital = gen.query("시도 == '서울특별시' or 시도 == '경기도'")

2022-06-03 18:50:40.114 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [16]:
gen_capital

,업태별,시도,시군구,성별,(전체)당월,(전체)전월,(전체)전년동월,(개인)당월,(개인)전월,(개인)전년동월,(법인)당월,(법인)전월,(법인)전년동월
0,농·임·어업,서울특별시,종로구,남자,15,14,13,5,4,3,10,10,10
1,농·임·어업,서울특별시,종로구,여자,4,4,*,*,*,*,3,3,*
2,농·임·어업,서울특별시,중구,남자,13,13,11,*,*,*,12,12,10
3,농·임·어업,서울특별시,중구,여자,*,*,*,0,0,*,*,*,*
4,농·임·어업,서울특별시,용산구,남자,7,7,5,*,*,*,5,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7938,서비스업(기타포함),경기도,가평군,여자,728,721,661,642,635,582,86,86,79
7939,서비스업(기타포함),경기도,가평군,미상,*,*,*,0,0,*,*,*,*
7940,서비스업(기타포함),경기도,양평군,남자,2538,2517,2286,2033,2017,1831,505,500,455
7941,서비스업(기타포함),경기도,양평군,여자,1566,1556,1367,1380,1370,1214,186,186,153
7942,서비스업(기타포함),경기도,양평군,미상,*,*,*,*,*,*,0,0,*

In [17]:
gen_capital = gen_capital.replace('*', np.nan)

In [18]:
gen_capital.fillna(0, inplace=True)

In [19]:
gen_capital['(전체)당월'] = gen_capital['(전체)당월'].astype(int)

In [20]:
pd.pivot_table(gen_capital, 
               values='(전체)당월', 
               index='업태별', 
               columns='시도', 
               aggfunc='sum')

시도             경기도   서울특별시
업태별
건설업         143718   82546
광업             108      80
농·임·어업       14592     699
대리,중개,도급업    24777   20031
도매업         177294  172830
부동산매매업       25990   12778
부동산임대업      753122  615480
서비스업(기타포함)  503186  485620
소매업         327338  256842
숙박업           8876    5089
운수,창고,통신업   166715  116352
음식업         175620  134363
전기,가스,수도업     8551    1256
제조업         213138   97663

In [21]:
gen_capital['시도'].unique()

array(['서울특별시', '경기도'], dtype=object)

In [22]:
gen_capital

,업태별,시도,시군구,성별,(전체)당월,(전체)전월,(전체)전년동월,(개인)당월,(개인)전월,(개인)전년동월,(법인)당월,(법인)전월,(법인)전년동월
0,농·임·어업,서울특별시,종로구,남자,15,14,13,5,4,3,10,10,10
1,농·임·어업,서울특별시,종로구,여자,4,4,0,0,0,0,3,3,0
2,농·임·어업,서울특별시,중구,남자,13,13,11,0,0,0,12,12,10
3,농·임·어업,서울특별시,중구,여자,0,0,0,0,0,0,0,0,0
4,농·임·어업,서울특별시,용산구,남자,7,7,5,0,0,0,5,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7938,서비스업(기타포함),경기도,가평군,여자,728,721,661,642,635,582,86,86,79
7939,서비스업(기타포함),경기도,가평군,미상,0,0,0,0,0,0,0,0,0
7940,서비스업(기타포함),경기도,양평군,남자,2538,2517,2286,2033,2017,1831,505,500,455
7941,서비스업(기타포함),경기도,양평군,여자,1566,1556,1367,1380,1370,1214,186,186,153
7942,서비스업(기타포함),경기도,양평군,미상,0,0,0,0,0,0,0,0,0

In [23]:
gen_capital2 = gen_capital[gen_capital['업태별'] == '농·임·어업']
gen_capital2

,업태별,시도,시군구,성별,(전체)당월,(전체)전월,(전체)전년동월,(개인)당월,(개인)전월,(개인)전년동월,(법인)당월,(법인)전월,(법인)전년동월
0,농·임·어업,서울특별시,종로구,남자,15,14,13,5,4,3,10,10,10
1,농·임·어업,서울특별시,종로구,여자,4,4,0,0,0,0,3,3,0
2,농·임·어업,서울특별시,중구,남자,13,13,11,0,0,0,12,12,10
3,농·임·어업,서울특별시,중구,여자,0,0,0,0,0,0,0,0,0
4,농·임·어업,서울특별시,용산구,남자,7,7,5,0,0,0,5,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,농·임·어업,경기도,가평군,남자,252,248,234,181,177,167,71,71,67
158,농·임·어업,경기도,가평군,여자,52,52,47,38,38,31,14,14,16
159,농·임·어업,경기도,양평군,남자,507,505,463,339,337,310,168,168,153
160,농·임·어업,경기도,양평군,여자,139,136,101,91,88,66,48,48,35
161,농·임·어업,경기도,양평군,미상,0,0,0,0,0,0,0,0,0

In [24]:
gen_capital3 = gen_capital2.groupby('시군구')['(전체)당월'].sum()
gen_capital3.sort_values(ascending=False)

시군구
화성시    1743
포천시    1092
안성시     987
이천시     939
파주시     892
       ...
도봉구      12
성동구      11
성북구      10
동작구       9
강북구       8
Name: (전체)당월, Length: 67, dtype: int32

In [25]:
pd.pivot_table(gen_capital, 
               values='(전체)당월', 
               index='업태별',
               columns='시군구', 
               aggfunc='sum')

시군구,가평군,강남구,강동구,강북구,강서구,고양시 덕양구,고양시 일산동구,고양시 일산서구,과천시,관악구,...,의정부시,이천시,종로구,중구,중랑구,파주시,평택시,포천시,하남시,화성시
업태별,,,,,,,,,,,,,,,,,,,,,
건설업,1175.0,4455.0,3404.0,2089.0,3971.0,3834.0,3998.0,1831.0,362.0,3345.0,...,4707.0,3844.0,877.0,842.0,5388.0,6253.0,9192.0,2628.0,2612.0,8920.0
광업,9.0,20.0,3.0,NaN,4.0,0.0,0.0,NaN,NaN,4.0,...,0.0,0.0,8.0,4.0,0.0,5.0,4.0,16.0,0.0,19.0
농·임·어업,304.0,94.0,43.0,8.0,32.0,390.0,178.0,167.0,224.0,18.0,...,64.0,939.0,19.0,13.0,19.0,892.0,843.0,1092.0,143.0,1743.0
"대리,중개,도급업",64.0,2209.0,874.0,365.0,1003.0,710.0,1035.0,598.0,60.0,525.0,...,751.0,546.0,326.0,1312.0,276.0,821.0,887.0,245.0,876.0,1111.0
도매업,672.0,15813.0,4421.0,2274.0,7756.0,5572.0,6713.0,3464.0,1353.0,2907.0,...,3982.0,2317.0,12536.0,23916.0,3306.0,6034.0,5682.0,3132.0,7177.0,13585.0
부동산매매업,333.0,2888.0,341.0,155.0,509.0,406.0,356.0,225.0,80.0,334.0,...,390.0,403.0,323.0,418.0,197.0,1631.0,1283.0,319.0,300.0,2988.0
부동산임대업,2098.0,57259.0,21295.0,9854.0,40716.0,32606.0,25220.0,15089.0,4797.0,18123.0,...,16984.0,9600.0,24836.0,43826.0,13037.0,25979.0,37232.0,7315.0,27426.0,62304.0
서비스업(기타포함),2161.0,70470.0,14787.0,8646.0,23526.0,17790.0,14909.0,9949.0,2673.0,14620.0,...,15285.0,6501.0,13859.0,16855.0,10647.0,16100.0,22243.0,4872.0,15137.0,37642.0
소매업,1736.0,19972.0,10519.0,7194.0,13831.0,11303.0,9887.0,7468.0,1586.0,10552.0,...,11893.0,4792.0,8771.0,10628.0,8747.0,12238.0,12917.0,4435.0,8858.0,18767.0
숙박업,1550.0,312.0,144.0,162.0,171.0,115.0,39.0,56.0,0.0,316.0,...,156.0,152.0,455.0,593.0,129.0,287.0,256.0,456.0,37.0,344.0
"운수,창고,통신업",388.0,4139.0,5304.0,3179.0,9146.0,3917.0,3094.0,2625.0,642.0,4326.0,...,4210.0,4842.0,2643.0,3559.0,6178.0,6262.0,7441.0,3533.0,3339.0,8946.0
음식업,1749.0,11664.0,5016.0,3819.0,6770.0,4872.0,4338.0,2748.0,532.0,5742.0,...,5939.0,3625.0,6152.0,5577.0,4195.0,6407.0,9472.0,3305.0,3319.0,11652.0
"전기,가스,수도업",273.0,146.0,52.0,15.0,56.0,67.0,139.0,80.0,8.0,32.0,...,29.0,656.0,48.0,29.0,18.0,446.0,510.0,521.0,71.0,1134.0
제조업,468.0,6185.0,2286.0,2171.0,2963.0,2997.0,5353.0,2087.0,281.0,2242.0,...,2108.0,2972.0,6105.0,11517.0,4042.0,10058.0,6662.0,8550.0,3874.0,31516.0

In [26]:
age

,업태별,시도,시군구,연령별,(전체)당월,(전체)전월,(전체)전년동월,(개인)당월,(개인)전월,(개인)전년동월,(법인)당월,(법인)전월,(법인)전년동월
0,농·임·어업,서울특별시,종로구,30세 이상,3,3,3,*,*,*,*,*,*
1,농·임·어업,서울특별시,종로구,40세 이상,3,3,*,0,0,*,3,3,*
2,농·임·어업,서울특별시,종로구,50세 이상,*,*,*,*,*,*,*,*,*
3,농·임·어업,서울특별시,종로구,60세 이상,7,7,5,3,3,*,4,4,3
4,농·임·어업,서울특별시,종로구,70세 이상,4,4,3,*,*,*,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21465,서비스업(기타포함),제주특별자치도,서귀포시,40세 이상,1947,1917,1765,1704,1674,1556,243,243,209
21466,서비스업(기타포함),제주특별자치도,서귀포시,50세 이상,1811,1795,1646,1508,1496,1371,303,299,275
21467,서비스업(기타포함),제주특별자치도,서귀포시,60세 이상,964,967,888,791,797,737,173,170,151
21468,서비스업(기타포함),제주특별자치도,서귀포시,70세 이상,270,269,214,211,211,172,59,58,42
21469,서비스업(기타포함),제주특별자치도,서귀포시,미상,6,6,6,3,3,3,3,3,3

In [27]:
yea

,업태별,시도,시군구,존속연수별,(전체)당월,(전체)전월,(전체)전년동월,(개인)당월,(개인)전월,(개인)전년동월,(법인)당월,(법인)전월,(법인)전년동월
0,농·임·어업,서울특별시,종로구,6개월 미만,3,*,*,*,*,*,*,*,*
1,농·임·어업,서울특별시,종로구,6개월 이상,*,*,*,*,*,*,0,0,*
2,농·임·어업,서울특별시,종로구,1년 이상,*,*,*,*,*,*,*,*,*
3,농·임·어업,서울특별시,종로구,2년 이상,*,*,*,0,0,*,*,*,*
4,농·임·어업,서울특별시,종로구,3년 이상,*,*,3,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29177,서비스업(기타포함),제주특별자치도,서귀포시,3년 이상,1106,1115,1031,980,990,924,126,125,107
29178,서비스업(기타포함),제주특별자치도,서귀포시,5년 이상,1262,1230,932,1083,1049,790,179,181,142
29179,서비스업(기타포함),제주특별자치도,서귀포시,10년 이상,758,746,700,661,655,620,97,91,80
29180,서비스업(기타포함),제주특별자치도,서귀포시,20년 이상,387,392,373,301,305,283,86,87,90
29181,서비스업(기타포함),제주특별자치도,서귀포시,30년 이상,113,108,85,68,64,50,45,44,35